html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}



html, body, .app, #root, main, #content_wrapper, #content, #content_body {
  height: 100%;
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  background-color: #fafbfc;;
  display: flow-root;
  height: 100%;
}

#nav_snb {
  width: 219px;
  position: fixed;
  bottom: 0;
  float: left;
  margin-right: 20px;
  top: 55px;
  z-index: 10;
}

.card_box_theme {
  border: 1px solid #e8ebee;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
}

ul {
  list-style: none;
}

.naver_theme {
  background-color: #202020;
  color: #d9d9d9;
}

.naver_theme ul .active {
  background-color: #42be6f;
  color: white;
}

.list_menu {
  height: 100%;
}

.list_menu ul {
  padding: 15px 0;
  margin: 0;
}

.list_menu ul li {
  padding: 10px;
  cursor: pointer;
}




/* header */

#top_header {
  position: relative;
  height: 55px;
  background-color: white; 
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 1px 5px 0 rgb(107 119 172 / 20%);
}

.login_group {
  position: absolute;
  right: 0;
  top : 0;
}

#profile{
  padding: 12px;
  width: 150px;
  text-align: center;
}

#profile > a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

#profile img,span {
  display: inline-block;
  vertical-align: middle;
}

#gnb_profile_name {
  padding-left: 5px;
}


#profile_layer {
  /* position: absolute; */
  top : 55px;
  width: 150px;
  /* display: none; */
}


.dropdown_content ul {
  padding: 5px 0;
  margin: 0;
}

.dropdown_content ul li {
  padding: 5px 10px;
  cursor: pointer;
}

/* main */

#content_wrapper {
  margin-left: 219px;
}

#content_header {
  height: 51px;
  border-bottom: 1px solid #dcdcdc;
}

#grid_wrapper {
  padding: 30px;
}

.grid_container {
  padding: 10px 20px;
}

.a_book_table {
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

.a_book_table thead {
  background-color: #dcdcdc;
}

.grid_header {
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
}

.grid_title_wrapper {
  flex : 8;
  text-align: center;
}

.grid_header > div {
  margin: 0 10px;
}

.grid_footer {
  height: 35px;
  background-color: white;
}

/* Grid more 메뉴 */
.grid_menu_wrapper .dropdown_content {
  background-color: #f9f9f9;
  width: 150px;
  right: 30px;
  margin: 0;
}

.grid_container > div {
  padding: 10px 0;
}



.dropdown_content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown_content ul {
  list-style: none;
}

.dropdown.active .dropdown_content {
  display: block;
}


.grid_menu_wrapper .dropdown_content a {
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
}

.grid_menu_wrapper .dropdown_content a:hover {
  background-color : #ececec
}


/* floating bar */

#floating_bar_wrapper {
  box-shadow: 0 0px 20px 0 rgb(0 0 0 / 5%);
  margin: 0 25px;
  background-color: white;
  height: 75px;
  position: sticky;
  bottom: 10px;
  right: 0;
  /* width: 100%; */
  display: flex;
  /* 수직 정렬 */
  align-items: center;
}

/* #floating_bar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
}

#floating_bar > div {
  flex: 1;
} */

.menu_panel {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
}

.menu_panel > div {
  flex: 1;
}

/* #delete_menu_wrap {
  align-items: center;
  display: flex;
  justify-content: center;
} */

.btn_wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* 버튼 */
.custom_btn {
  /* height: 42px; */
  box-shadow: none;
  font-size: 15px;
  font-weight: 900;
  line-height: 34px;
  padding: 0 15px;
}

#delete_btn {
  height: 42px;
  color: #fff;
  background-color: #f5707a;
  border-width: 0;
  border-radius: 3px;
}

#book_add_btn {
  color: #fff;
  background-color: gray;
  border-width: 0;
  border-radius: 3px;
}

#book_add_menu_btn_wrap {
  float: right;
  height: 100%;
  margin-right: 20px;
}