html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  background-color: beige;
  display: flow-root;
}

#nav_snb {
  width: 219px;
  position: relative;
  top: 0;
  float: left;
  margin-right: 20px;
}



ul {
  list-style: none;
}

.naver_theme {
  background-color: #202020;
  color: #d9d9d9;
}

.naver_theme ul .active {
  background-color: #42be6f;
  color: white;
}

.list_menu {
  height: 647px;
  margin-top: 51px;
}

.list_menu ul {
  padding: 15px 0;
}

.list_menu ul li {
  padding: 10px;
  cursor: pointer;
}




/* header */

#top_header {
  position: relative;
  height: 55px;
  background-color: beige;
}

.login_group {
  position: absolute;
  right: 0;
  top : 0;
}

#profile{
  padding: 12px;
  background-color: gray;
  width: 150px;
}

#profile img,span {
  display: inline-block;
  vertical-align: middle;
}

#gnb_profile_name {
  padding-left: 5px;
}


#profile_layer {
  /* position: absolute; */
  top : 55px;
  width: 150px;
  /* display: none; */
}


.dropdown_content ul {
  padding: 5px 0;
  margin: 0;
}

.dropdown_content ul li {
  padding: 5px 10px;
  cursor: pointer;
}

/* main */

#content_wrapper {
  margin-left: 219px;
}

#content_header {
  height: 51px;
  border-bottom: 1px solid #dcdcdc;
}

#grid_wrapper {
  padding: 30px;
}

.a_book_table {
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

.a_book_table thead {
  background-color: #dcdcdc;
}

.grid_header {
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
}

.grid_title_wrapper {
  flex : 8;
  text-align: center;
}

.grid_header > div {
  margin: 0 10px;
}

.grid_footer {
  height: 35px;
  background-color: white;
}

/* Grid more 메뉴 */
.grid_menu_wrapper .dropdown_content {
  background-color: #f9f9f9;
  width: 150px;
  right: 30px;
  margin: 0;
}



.dropdown_content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown_content ul {
  list-style: none;
}

.dropdown.active .dropdown_content {
  display: block;
}


.grid_menu_wrapper .dropdown_content a {
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
}

.grid_menu_wrapper .dropdown_content a:hover {
  background-color : #ececec
}