html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  background-color: beige;
}

#nav_snb {
  width: 25%;
}



ul {
  list-style: none;
}

.naver_theme {
  background-color: #202020;
  color: #d9d9d9;
}

.list_menu ul {
  padding: 15px 0;
}

.list_menu ul li {
  padding: 10px;
}

.naver_theme ul .active {
  background-color: #42be6f;
  color: white;
}


/* header */

#top_header {
  position: relative;
  height: 55px;
  background-color: beige;
}

.login_group {
  position: absolute;
  right: 0;
  top : 0;
}

#profile{
  padding: 12px;
  background-color: gray;
  width: 150px;
}

#profile img,span {
  display: inline-block;
  vertical-align: middle;
}

#gnb_profile_name {
  padding-left: 5px;
}


#profile_layer {
  position: absolute;
  top : 55px;
  width: 150px;
}


#profile_layer ul {
  padding: 5px 0;
}

#profile_layer ul li {
  padding: 5px;
}